

header {
  grid-area: header;
  display: flex; 
  justify-content: space-between;
  align-items: center;
margin: 30px;

}

h1{
  text-decoration: none;
}
.socials{
  padding-right: 10px;
}

.nav{
  padding-right: 30px;
  text-decoration: none;
}

.nav:hover{
  text-decoration: underline;
}

article{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

h3{
  font-size: 60px;
}


footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}