.game {
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid #333;
}


.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #45a049;
}
