
* {
  /*font-family: Public Pixel;*/
  font-family: monospace;
  color: #353535;
  
}




/*
custom content

@font-face{
  font-family: Public Pixel;
  src: url(src/assets/font/PublicPixel.ttf);
}


*/